<!-- should omit end tag -->
<img src="foo.png">

<!-- should not be interactive unless usemap is set -->
<button type="button">
	<img src="foo.png" aria-label="Picture of a foo">
</button>

<!-- should allow non-empty srcset -->
<img src="foo-large.png" srcset="foo-small.png 400w, foo-large 800w">
