<!-- should be allowed under <tr> -->
<table>
	<tbody>
		<tr>
			<th scope="auto">foo</th>
		</tr>
	</tbody>
</table>

<!-- should allow regular flow content -->
<table>
	<tbody>
		<tr>
			<th scope="auto">
				<div>foo</div>
			</th>
		</tr>
	</tbody>
</table>

<!-- allowed scope values -->
<table>
	<tbody>
		<tr>
			<th scope="row"></th>
			<th scope="col"></th>
			<th scope="rowgroup"></th>
			<th scope="colgroup"></th>
			<th scope="auto"></th>
		</tr>
	</tbody>
</table>
